{{>head}}

{{>navbarinicio}}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                Utiliza la aplicación para Android de Korb para poder usar la función Realidad Aumenta, disponible para su descarga <a href="https://drive.google.com/file/d/13aV91RvgzttlKJgzZaIlIXtqzraQG5h-/view?usp=sharing">aquí</a>
                <br>
                Abre el target del producto con el que quieras intercatuar y mira con la camara el target para activar la animación.
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/brocoliQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Brocoli</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBrocoli">
            Target Brocoli
            </button>
            <div class="modal fade" id="modalBrocoli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Platano</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/brocoliQR.png" alt="Target Platano" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/cafeQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Café</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCafe">
            Target Café
            </button>
            <div class="modal fade" id="modalCafe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Café</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/cafeQR.png" alt="Target Platano" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/huevoQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Huevo</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalHuevo">
            Target Huevo
            </button>
            <div class="modal fade" id="modalHuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Huevo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/huevoQR.png" alt="Target Huevo" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/jabonQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jabón</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalJabon">
            Target Jabón
            </button>
            <div class="modal fade" id="modalJabon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Jabón</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/jabonQR.png" alt="Target Jabón" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/maizQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Maíz</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMaiz">
            Target Maíz
            </button>
            <div class="modal fade" id="modalMaiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maíz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/maizQR.png" alt="Target Platano" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/pescadoQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pescado</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPescado">
            Target Pescado
            </button>
            <div class="modal fade" id="modalPescado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/pescadoQR.png" alt="Target Pescado" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/platanoQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Platano</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPlatano">
            Target Platano
            </button>
            <div class="modal fade" id="modalPlatano" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Platano</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/platanoQR.png" alt="Target Platano" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/ar/polloQR.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pollo</h5>
            <p class="card-text">Presiona el botón para ver en grande el target.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPollo">
            Target Pollo
            </button>
            <div class="modal fade" id="modalPollo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pollo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/ar/polloQR.png" alt="Target Pollo" width="702px" height="702px">
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<br><br>
{{>footerinicio }}