{{>head}}
{{>navbar}}

<br>
<div align="center">
<h1 align="center">Foro De Discusión</h1>
<br>

{{#if Admin}}

{{else}}

<div class="gestionUsuarios" align="center">


            
            <ul class="nav nav-tabs">
            	<li class="nav-item">
              <button class="nav-link" id="hacerPublicacion">Hacer Publicación</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="misPublicaciones">Mis Publicaciones</button>
            </li>
            
            <li class="nav-item">
              <button class="nav-link" id="todasLasPublicaciones">Todas Las Publicaciones</button>
            </li>
            
          </ul>


          <div id="publicacionesContent">
            


				
                         
			
			

            
            

              

          </div>
         
        

</div>

{{/if}}
</div>




{{>footer}}