{{>head}}
{{>navbar}}

<br>
<div align="center">
<h1 align="center">Foro De Discusión</h1>
<br>



<div class="gestionUsuarios" align="center">


            
            <ul class="nav nav-tabs">
            	
            
            <li class="nav-item">
              <button class="nav-link" id="todasLasPublicaciones">Todas Las Publicaciones</button>
            </li>
            
          </ul>
          

          <div id="publicacionesContent">
            


				
                         
			
			

            
            

              

          </div>

          <div id="publicacionesContent2"></div>

         
        

</div>


</div>






{{>footer}}