{{>head}}

{{>navbarinicio}}
<br>
<br>
<div align="center"> 
  <h1>Bienvenido a Korb</h1>
  <br>
<div class="gestionUsuarios">

<table  cellpadding="20" class="round_table">
  <tr class="tr_inicio">
    <td align="center" width="33%" class="td_inicio"> 
      <h3>¿Que es Korb?</h3>
    </td>
    <td align="center" width="33%" class="td_inicio">
      <h3>¿Quienes Somos?</h3>
    </td>
    <td align="center" width="33%" class="td_inicio">
      <h3>¿Que Buscamos?</h3>
    </td>
    
  </tr>
  <tr class="tr_inicio">
    <td class="td_inicio"> 
        <div class="textoLandPage">Es un sistema diseñado para ayudar a la administración de gastos de las Familias de México.
        <br><br>
        Para ello cuenta con dos Módulos:
        <br><br>
        <ul>
        <li> Gestión de Salario: Es una herramienta que te ayuda a saber cuantas horas debes trabajar para cubrir tus gastos.</li>
        <li>- Proyecciones: Es una herramienta que te muestra como cambiarán los precios de la canasta básica a futuro.</li>
        <ul></div>
          <img src="assets/img/proyeccion.jpg" width="100%">
    </td>
    <td class="td_inicio">
      <div class="textoLandPage">
      Gelececk es una empresa desarrolladora de software confiable, innovador y de calidad, conformado por miembros comprometidos y responsables con el servicio al cliente.
          <img src="assets/img/logo.png" alt="" width="100%">
    </div>
    </td>
    <td class="td_inicio">
      <div class="textoLandPage">
      <font family="sans">Nuestro objetivo es innovar en la industria de software, respondiendo a la confianza que los clientes depositan en nuestro trabajo, para poder satisfacer totalmente las necesidades de nuestros clientes. <br> <br>
        <img src="assets/img/cliente.jpg" width="100%">
        <br><br>

  <p align="center">“Desarrollando el futuro, innovando hoy”</p></font>

</div>
    </td>
  </tr>
  <tr class="tr_inicio">
      <td class="td_inicio">
            
      </td>
  </tr>
</table>
<br>
<br><br><br><br>


</div>
</div>

{{>footerinicio }}


