{{>head}}

{{>navbarinicio}}
<div class="control" id="proyecta">

</div>
<div id="chart">

</div>
    <script>    
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        
        type: 'bar',
        data:{
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            data: [1467.72,1477.60,1477.27,1467.38,1471.60,1486.96,1511.33,1517.15,1508.30,1525.25,1550.82,1562.66],
            backgroundColor: ['#062b61','#246a73','#062b61','#246a73','#062b61','#246a73','#062b61','#246a73','#062b61','#246a73','#062b61','#246a73',],
            label: 'Precio de la canasta basica'}],
            labels: ['2018-02-01','2018-03-01','2018-04-01','2018-05-01','2018-06-01','2018-07-01','2018-08-01','2018-09-01','2018-10-01','2018-11-01','2018-12-01','2019-01-01']},
        options: {responsive: true}
    });
    </script>
<script>
    window.onload = function(){
    var fecha = new Date(); 
    var mes = fecha.getMonth()+1;
    var dia = fecha.getDate();
    var ano = fecha.getFullYear();
    if(dia<10)
        dia='0'+dia; 
    if(mes<10)
        mes='0'+mes;
    document.getElementById('date').value=ano+"-"+mes+"-"+dia;
}
</script>
{{>footerinicio }}