{{>head}}
{{>navbar}}

<div align="center"></div>
<br>
<h1 align="center">Gestión de Salario</h1>
<br>
<table cellpadding="10">
  <tr>
    <td>
                <div class="salario">
            <div class="mitadPantalla2">
            <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link" id="salarioForm">Salario</button>
            </li>
            
            <li class="nav-item">
              <button class="nav-link" id="gastosForm">Gastos</button>
            </li>
            
          </ul>


          <div id="formsContent">



            
            

              

            </div>
          </div>
        </div>
    </td>
    <td>
          <div class="salario">
                <div class="mitadPantalla">
          <h3 align="center">Información de Presupuesto</h3>
          
          <table cellpadding="10" border="1">
              
              <tbody>
                <tr>
                <td>
                  Horas de trabajo necesarias para cubrir el precio de la <b>Canasta Básica</b>:
                </td>
                <td>
                  <div id="horasNecesariasParaCBA"></div>
                </td>
              </tr>
              <tr>
                <td>
                  Horas de trabajo necesarias para cubrir <b>tus gastos</b>:
                </td>
                <td>
                  <div id="horasNecesariasParaGastos"></div>
                </td>
              </tr>

              </tbody>
              
          </table>
        
    </td>
  </tr>
</table>


</div>




{{>footer}}